.header{
    background-color:rgb(196, 197, 135);
    color: white;   
    text-align: center;
    padding: 20px 0px;
    
    .headerName{
        font-size: 32px;
        text-align: center;
    }
}